.nav{
    display: flex;
    justify-content: space-evenly;
    background-color: lightcoral;
    border-radius: 20px;
}

.ulwrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    list-style: none;
}

.app{
    text-align: center;
}